<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>646820872658-7dsntbiar04at6p9bdhrtkecu2nupbq7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.646820872658-7dsntbiar04at6p9bdhrtkecu2nupbq7</string>
	<key>API_KEY</key>
	<string>AIzaSyDxoE2nVtiTq8WT7w9TkZWopbyyUddnMx4</string>
	<key>GCM_SENDER_ID</key>
	<string>646820872658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pgop6.FoodMates</string>
	<key>PROJECT_ID</key>
	<string>ideator-377af</string>
	<key>STORAGE_BUCKET</key>
	<string>ideator-377af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:646820872658:ios:711789556fa02716</string>
	<key>DATABASE_URL</key>
	<string>https://ideator-377af.firebaseio.com</string>
</dict>
</plist>