<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FoodMates.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F82CDF451EE504C8004DC224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F82CDF5C1EE504C8004DC224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F82CDF671EE504C8004DC224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
